{% extends 'base.html'%}

{% load static %}

{% block title %}{% endblock %}

{% block profile %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        {% for p in post %}
         <div class=" col-lg-3 col-md-3 col-sm-12 shadow">
             <div class="card" style="width: 250px; height:350px;">
                 <a href="{{ p.get_single_url }}"><img src="{{ p.image.url }}" class="card-img-top" alt="Image"></a>
                 <div class="card-body">
                     <a href="{{ p.get_single_url }}"><h5 class="">{{ p.title }}</h5></a>
                     <a href="{% url 'blog:topic' name=p.category.name %}"><p class="">Category:{{ p.category.name }} <span><a href="{{ p.get_author_url }}"><i>Author:{{ p.article_author.name }}</i></a></span></p></a>
                     
                     <p>{{ p.posted_on }}</p>
                 </div>
             </div>
         </div>
        {% endfor %}
   </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="pagination">
    <span class="step-links">
        {% if post.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ post.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post.number }} of {{ post.paginator.num_pages }}.
        </span>

        {% if post.has_next %}
            <a href="?page={{ post.next_page_number }}">next</a>
            <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}